#centre {
border:2px solid #202020;
border-bottom:0;
border-top:0;
color:#000;
padding:2em;
}

#conteneur {
background-color:#fafafa;
margin:1em 20%;
min-width:60em;
position:absolute;
width:60%;
}

#haut {
background-color:#202020;
height:2.8em;
max-height:2.8em;
}

#header {
background-color:#3882C7;
border:2px solid #fafafa;
color:#fafafa;
font-size:2em;
height:3em;
padding-left:2em;
padding-top:1em;
}

#pied {
border:2px solid #202020;
border-top:0;
padding:0.5em;
font-size:1.2em;
text-align:right;
}

.menuhaut {
list-style-type:none;
margin:0;
padding:0;
}

.menuhaut a {
color:#fafafa;
margin:0 0.4em;
text-decoration:none;
}

.menuhaut a:hover {
color:#FF0;
text-decoration:none;
}

.menuhaut li {
border-right:1px solid #fff;
display:inline;
float:left;
margin:0;
padding:0.6em 10px;
}

a {
color:#000;
text-decoration:underline;
}

body {
background-color:#CDCDCD;
font-family:Verdana, Arial, Helvetica, sans-serif;
}

h1 {
font-size:1.6em;
margin:0.5em 0.5em 1em 0;
}

h2 {
font-size:1.6em;
margin:0.5em 0.5em 1em 0.6em;
}

h3 {
font-size:1.1em;
margin:0.8em 0.5em 0.3em 0.8em;
}

h4 {
font-size:1em;
margin:0.7em 0.5em 0.3em 1em;
}

h5 {
font-size:0.9em;
margin:0.6em 0.5em 0.2em 1.5em;
}

p {
margin:1em 1em 1em 3em;
line-height: 1.7em;
}

ul {
line-height: 1.7em;
}

code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  background-color: #f3f6fa;
  border-radius: 0.3rem;
}




/*tr.bibbase_group {
# background-color: #E0E0F0;
 background-color: #B1BDE6; 
 font-style: italic;
 font-size: larger;
 -moz-border-radius: 3px 3px 3px 3px;
 -webkit-border-radius: 3px;
 -webkit-border-top-left-radius: 4px;
 -webkit-border-bottom-right-radius: 4px;
}*/

td.bibbase_group {
 background-color: #E0E0F0;
 background-image: url(http://www.cs.toronto.edu/~fritz/resources/blueish_grad.png); 
 font-style: italics;
 font-size: larger;
 text-shadow: 0px 0px 3px #FFFFFF;
 border-radius: 4px 4px 4px 4px;
 -moz-border-radius: 4px 4px 4px 4px;
 -webkit-border-radius: 4px;
 -webkit-border-top-left-radius: 4px;
 -webkit-border-bottom-right-radius: 4px;
 -moz-box-shadow: 3px 3px 3px #888;
 -webkit-box-shadow: 3px 3px 3px #888;
 padding: 3px 3px 3px 3px;
}

span.bibbase_group_count {
    display: none;
}

#tr.bibbase_group:before { content:" " }
#tr.bibbase_paper:before { content:" " }
#td.bibbase_paper { 
# float: right; 
#}

#img.bibbase_icon {
 float: left;
}

span.bibbase_icon {
 display: none;
}		    
span.bibbase_icon_text {
 display: none;
}		    

#br.bibbase_paper_content {
# display: none;
#}

#span.bibbase_paper_content {
# float: right;
#}

#span.bibbase_paper_venue {
# float: right;
#}

#span.bibbase_paper_note {
# float: right;
#}

